<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMU Hostel Management</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static' , filename = 'css/header-style.css' ) }}">
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <div class="heading">
            <img src="{{ url_for('static', filename='images/Multimedia_University_logo.png') }}" alt="Multimedia University" class="logo" style="width: 150px; height: 50px;">
        </div>
        <nav class="nav">
            <div class="divider">
            {% if session.get('is_admin', False) %}
                <!-- Admin Navigation -->
                <a href="{{ url_for('admin_dashboard') }}">Home</a>
                <a href="{{ url_for('manage_announcements') }}">Announcement</a>
                <a href="{{ url_for('booking_listing') }}">Booking</a>
                <a href="{{ url_for('add_student') }}">Student</a>
                <a href="{{ url_for('admin_room_change_requests') }}">Room</a>
                <a href="{{ url_for('add_trimester') }}">Trimester</a>
                <a href="{{ url_for('add_question') }}">Questionnaire</a>
            {% else %}
                <!-- Student Navigation -->
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('room_setting') }}">Room</a>
                <a href="{{ url_for('chat_home') }}">Chat</a>
            {% endif %}
            </div>
        </nav>

        {% if not session.get('is_admin', False) %}
            <div class="user-form-group">
                <img src="{{ profile_pic_url }}" alt="User" class="user-pic" onclick="togglemenu()">

                <div id="sub-menu-wrap" class="sub-menu-wrap">
                    <div class="sub-menu">
                        <a href="{{ url_for('profile') }}" class="sub-menu-link">
                            <img src="{{ url_for('static', filename='images/account.png') }}" alt="Edit Profile">
                            <p>Edit Profile</p>
                        </a>
                        <a href="{{ url_for('logout') }}" class="sub-menu-link">
                            <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Logout">
                            <p>Logout</p>
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
        <div class="user-form-group">
            <img src="{{ profile_pic_url }}" alt="User" class="user-pic" onclick="togglemenu()">

            <div id="sub-menu-wrap" class="sub-menu-wrap">
                <div class="sub-menu">
                    <a href="{{ url_for('admin_profile') }}" class="sub-menu-link">
                        <img src="{{ url_for('static', filename='images/setting.png') }}" alt="Settings">
                        <p>Settings</p>
                    </a>
                    <a href="{{ url_for('logout') }}" class="sub-menu-link">
                        <img src="{{ url_for('static', filename='images/logout.png') }}" alt="Logout">
                        <p>Logout</p>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    
        <!-- Add your JavaScript links here -->
        <script>
            let submenu = document.getElementById("sub-menu-wrap");
            
            function togglemenu(){
            submenu.classList.toggle("open-menu");
            }
        </script>
    </header>
</body>
</html>
{% block content %}

{% endblock %}