{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/select_trimester-style.css') }}">
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="flash-container">
    {% for category, message in messages %}
    <div class="flash-message flash-{{ category }}">{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="container">
    <h1>Select Trimester</h1>

    <form method="POST">
    {% if trimester %}
        <p>
            Trimester: {{ trimester.term }}<br>
            {{ trimester.name }}
        </p>
        <input type="hidden" name="trimester_id" value="{{ trimester.id }}">
        <button type="submit">Next</button>
    {% else %}
        <p>Not available right now.</p>
    {% endif %}
    </form>
</div>
{% endblock %}
